.page {
  width: 100%;
  background: linear-gradient(135deg, rgb(255, 211, 233), rgb(215, 240, 243));
  padding-top: 120px;
  padding-bottom: 120px;
}

/* 카드 */
.card {
  width: 260px;
  margin: auto;
  padding: 20px;
  border: 2px solid white;
  border-radius: 16px;
  background-color: rgba(255, 255, 255, 0.15);
  text-align: center;
}

/* 프로필 이미지 */
.profile-img {
  width: 90px;
  height: 90px;
  border-radius: 50%;
  border: 3px solid white;
  margin-bottom: 12px;
}

/* 이름 */
.name {
  color: white;
  margin-bottom: 6px;
}

/* 설명글 */
.desc {
  font-size: 14px;
  color: white;
  margin-bottom: 16px;
}

/* 버튼 */
.btn {
  display: block;
  padding: 10px;
  margin-bottom: 10px;
  background-color: white;
  color: black;
  text-decoration: none;
  border-radius: 8px;
  font-weight: bold;
}

/* 테두리 버튼 */
.outline {
  background-color: transparent;
  color: white;
  border: 1px solid white;
}
