/* header */
.header {
  display: flex;
  justify-content: space-between;
  align-items: center;

  padding: 20px 40px;
  background: white;
}

.logo {
  font-weight: bold;
}

.nav {
  display: flex;
  gap: 20px;
  list-style: none;
}

/* section 공통 */
.section {
  height: 100vh;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  text-align: center;
  color: white;
  padding: 0 20px;
}
.section h1 {
  font-size: 48px;
  margin-bottom: 20px;
}

.section p {
  max-width: 600px;
  line-height: 1.5;
}

/* section 개별 색상 */
.section-1 {
  background: #fae2ea;
}

.section-2 {
  background: #daecf7;
}

.section-3 {
  background: #f7e6ff;
}

.top-btn {
  position: fixed;
  bottom: 30px;
  right: 30px;

  width: 50px;
  height: 50px;
  background: rgb(58, 53, 53);
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 50%;
  font-size: 15px;

  text-decoration: none;
}
